.imp-links
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    margin:2rem 0;
}

.select-btn{
    width:85%;
}

.state-div,.city-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:60%;
    margin:1rem 0;
}

.search-btn{
    margin-top: 2rem !important;
    background-color: #11698D !important;
}

.result-div{
    margin:1rem 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}