.navbar {
    padding: 1%;
    display: flex;
    justify-content: space-between;
    background-color: coral;
    position: fixed;
    width: 98%;
    z-index: 100;
}

.navbar a {
    text-decoration: none;
}