.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #11698D;
    color:#F7F1F1;
    padding:1rem;
    /* z-index: 100; */
}

.navbar >h3{
    padding: 14px;
}

.navbar a {
    text-decoration: none;
    color:#F7F1F1;
}

.nav-links{
    width:40vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}

.nav-links > li
{
    list-style: none;
    color:#F7F1F1;
}

.links{
    text-decoration: none;
    color:#F7F1F1;
    list-style: none;
}
