.body {
  margin: 7% auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.MuiCardActions-root {
  display: block !important;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.MuiButton-textSizeSmall {
  text-decoration: none;
}

@media (max-width: 600px) {
  .body {
    width: 75%;
  }
}
