.body__main {
    margin-top: 5%;
    background-color: #fff;
    border-radius: 5px;
    height: auto;
    padding-bottom: 5%;
}

.table {
    padding: 20px;
}

/* 
.body__withTable {
    height: 120vh;
} */